@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
nav {
    display: block;
    position: relative;
    padding: 0;
    position: absolute;
    bottom: 0;
}

nav .menu {
    display: inline-block;
}

.showmenu,
.scrollshowmenu {
    display: none;
}

.scrollshowmenu {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: -20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: -15px;
}

nav ul li a {
    color: #1b1c1d;
    display: inline-block;
    font-family: 'Cinzel';
    font-size: 16px;
    margin: 0 20px;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
}

nav ul li.nav-li-search a {
    color: #e20816;
}

nav ul li a:first-of-type {
    margin-left: 0;
}

nav ul li:hover a,
nav ul li.current-menu-item a,
nav ul li.current-menu-parent a {
    color: #e20816;
    text-decoration: none;
}

nav ul li.current-menu-item a, nav ul li.current-menu-parent a {
    border-bottom: 1px solid #e20816;
    font-weight: 600;
}

nav ul li.nav-li-search a:hover {
    color: #1b1c1d;
    font-weight: 600;
}

nav ul li .touch-button {
    display: none;
    cursor: pointer;
    padding: 10px 10px 10px 5px;
}

nav ul ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

@media screen and (max-width: 991px) {
    nav {
        clear: both;
        display: block;
        position: relative;
        float: none;
        width: auto;
    }
    nav ul {
        display: block;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        display: block;
        border-bottom: 1px solid #e9eaeb;
        padding: 5px;
        margin: 0;
    }
    nav ul li .touch-button {
        display: block;
        position: absolute;
        top: 0px;
        right: 5px;
    }
    nav ul li .touch-button .navicon {
        font-style: normal;
    }
    nav ul ul {
        border: 0;
        margin: 0;
    }
    nav ul ul li {
        background-color: #FFF;
        border: 0;
    }
    nav ul ul li.current-menu-item {
        background-color: #f3f4f5;
    }
    nav ul ul li a,
    nav ul li:hover ul li a {
        background-color: #FFF;
        color: #6e7882;
        display: block;
        font-family: 'MrJones-Book', sans-serif;
        font-size: 14px;
        white-space: nowrap;
    }
    nav .menu {
        display: none;
    }
    nav .menu ul {
        display: block;
        margin: 10px 0 30px 0;
        text-align: left;
    }
    .showmenu,
    .scrollshowmenu {
        color: #1b1c1d;
        display: block;
        font-size: 30px;
        text-transform: uppercase;
        margin: 5px 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .showmenu {
        position: relative;
        float: right;
        margin-right: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    nav ul li a {
        margin: 0 8px;
        font-size: 16px;
    }
    .scrollshowmenu {
        left: -6px;
    }
}

@media screen and (min-width: 992px) {
    nav .menu {
        display: inline-block !important;
    }
    nav ul ul {
        background-color: #FFF;
        border: 1px solid #dcb853;
        border-top: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        left: -10px;
        text-align: left;
        z-index: 200;
    }
    .werk nav ul ul {
        border-color: #63778c;
    }
    nav ul ul li {
        display: block;
        padding: 0;
        margin: 0;
    }
    nav ul li ul li a,
    nav ul li:hover ul li a {
        background-color: #FFF;
        border: 0 !important;
        color: #000;
        display: block;
        font-family: 'MrJones-Book', sans-serif;
        font-size: 15px;
        margin: 0;
        padding: 10px;
        text-transform: none;
        white-space: nowrap;
    }
    nav ul li:hover ul li a:hover {
        color: #e20816;
    }
}

#dropdown .dropdown-toggle {
    background-color: #607ff2;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    padding: 8px 18px !important;
}
span.login_user_logo {
    padding-right: 8px;
}
#dropdownMenuLink a {
    color: white;
    font-size: 20px;
    font-family: "MrJones-Book", sans-serif;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 420px;
    max-width: 420px;
    border: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login .title{
    font-family: "MrJones-Book", sans-serif;
    color: #74869d;
    margin: 0;
/*     margin-bottom: 25px; */
}

.form-title {
    color: #607ff2;
    margin-bottom: 0;
}

.login h4{
    margin: 0;
}


/* dropdown login form */
.modal-body {
    position: relative;
    padding: 15px;
}

.modal-content {
    padding: 0 2rem 15px;
}

.login .social-media-icons img {
    height: 26px;
    padding-right: 20px;
}
.modal-body input[type="text"]::placeholder, .modal-body input[type="email"]::placeholder, .modal-body input[type="password"]::placeholder {
font-weight:500;
  color:#9DAFC2;
  font-family: Roboto;
}
.modal-body  input[type="text"],.modal-body input[type="email"],.modal-body input[type="password"] {
    /* font-family: 'MrJones-Book', sans-serif; */
    border: 1px solid #E1E8F1;
    border-radius: 4px;
    height: 56px;
    background-color: #ffffff;
    font-size: 16px;
    color: #9DAFC2;
    font-family: Roboto;
}
.modal-content * {
    font-family: Roboto !important;
}
.login .forget-pass {
    margin-top: -20px;
    margin-right: 4px;
}

#dropdown form {
    width: 100%;
    margin: 30px 0px 10px !important;
}
#dropdown .forget-pass a {
    color: #607ff2;
    font-size: 12px;
    font-family: Roboto;
    text-transform: initial;
}


.btn-info {
    background-color: #607ff2 !important;
    height: 50px !important;
    font-size: 20px !important;
    border-radius: 7px !important;
    border: 0 !important;
    margin-bottom: 15px !important;
    margin-top: 20px !important;
    color: #fff !important;
}

.form-title {
    color: #607ff2;
    margin-bottom: 0;
}

.mr-jonas{
    font-family: "MrJones-Book", sans-serif;
}
.form-title h2.mr-jonas strong {
    color: #607ff2;
    font-size: 24px;
    font-family: Roboto;
    text-transform: initial;
}
/* .login .form-group{
    margin-bottom: 20px;
 }*/

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"] 
{
    border: 1px solid #e1e8f1;
    border-radius: 4px;
    height: 50px;
    background-color: #ffffff;
    font-size: 18px;
}

.login .social-media-icons .row {
    margin-bottom: 10px;
}

.social-media-icons div a {
    background-color: #f2f2f2;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 7px;
    padding: 0px !important;
    margin-top: 15px;
}
.modal-content strong {
    text-transform: capitalize;
    color: #6D8098;
    font-size: 16px;
    text-transform: initial;
}

#dropdown {
    display: initial !important;
}

.btn-info:hover, 
.btn-info:active {
    background-color: #3161d5;
}
div#forget-pass a.go_to_login strong {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    text-transform: initial;
    margin-bottom: 0px;
}
div#forget-pass a.go_to_login strong span {
    margin-right: 15px;
}
div#forget-pass a.go_to_login strong span img {
    width: 20px;
}
div#forget-pass a.go_to_login {
    outline: none !important;
    box-shadow: none !important;
}
.alert.alert-error {
    color: #d11149 !important;
    background-color: rgba(209, 17, 73, 0.15) !important;
    text-align: center;
}
.alert.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    margin-top: 20px;
    margin-bottom: 0px;
}
#sign-up {
    height: 590px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content button.btn {
    outline: none !important;
    font-size: 18px !important;
    margin: 15px 0px 0px!important;
}

div#sign-up-complete .h4 strong {
    color: #6D8098 !important;
    line-height: 24px;
    font-size: 16px;
    text-transform: initial;
}

div#sign-up-complete .social-media-icons {
    display: block !important;
}
.icon_checked img {
       width: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div#sign-up-complete .row.title {
    margin-bottom: 0px !important;
}
div#sign-up-complete .icon_checked {
    width: 115px;
    height: 115px;
    background: #607FF2 !important;
    border-radius: 50%;
    margin: 30px auto 20px;
    position: relative;
}
nav ul li {
    padding-bottom: 0px !important;
    padding-top: 6px;
}
.header_nav_menu ul.flexnav button#dropdownMenuLink {
    outline: none !important;
}

.header_nav_menu ul.flexnav button#dropdownMenuLink img, #dropdownMenuLink1 img {
    max-width: 15px;
    margin-left: 0px;
    margin-top: -2px;
}
a.button.black.top-extra-nav-cta {
    font-size: 16px;
    color: #fff;
}
.dropdown-menu-right{
	display:none !important;
}
.dropdown-menu-right.form_toggle{
	display:block!important;
}
.inner ul.extra-nav {
    margin-bottom: 30px !important;
}
div#login::-webkit-scrollbar {
  width: 10px;
}
div#login::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
div#login::-webkit-scrollbar-thumb {
  background: #888; 
}
@media(max-width: 991px){
div#form_one {
    width: 100%;
    min-width: 450px !important;
    left: 0%;
}
li#dropdown span.touch-button {
    display: none !important;
}
div#form_one {
    top: calc(100% + 0px) !important;
}
nav ul li {
    padding-bottom: 15px !important;
}
}
@media(max-width: 575px){
    div#form_one {
    min-width: 400px !important;
}
.modal-content {
    padding: 0px 8px !important;
}
nav ul li a:first-of-type {
    padding-left: 0px;
}
}
@media(max-width: 480px){
    div#form_one {
    min-width: 330px !important;
}
.modal-content {
    padding: 0px 0px !important;
}
}
@media(max-width: 350px){
div#form_one {
    min-width: 290px !important;
}
}